// if using custom fonts, use this file

/*
@font-face {
	font-weight: 300;
	font-family: 'Example';
	font-style: normal;
	src: url('~/assets/fonts/example/font-300.eot?#iefix') format('eot'),
		url('~assets/fonts/example/font-300.woff2') format('woff2'),
		url('~assets/fonts/example/font-300.woff') format('woff'),
		url('~assets/fonts/example/font-300.ttf') format('truetype');
}

@font-face {
	font-weight: 300;
	font-family: 'Example';
	font-style: italic;
	src: url('~/assets/fonts/example/font-300-italic.eot?#iefix') format('eot'),
		url('~assets/fonts/example/font-300-italic.woff2') format('woff2'),
		url('~assets/fonts/example/font-300-italic.woff') format('woff'),
		url('~assets/fonts/example/font-300-italic.ttf') format('truetype');
}

@font-face {
	font-weight: 400;
	font-family: 'Example';
	font-style: normal;
	src: url('~/assets/fonts/example/font-400.eot?#iefix') format('eot'),
		url('~assets/fonts/example/font-400.woff2') format('woff2'),
		url('~assets/fonts/example/font-400.woff') format('woff'),
		url('~assets/fonts/example/font-400.ttf') format('truetype');
}

@font-face {
	font-weight: 400;
	font-family: 'Example';
	font-style: italic;
	src: url('~/assets/fonts/example/font-400-italic.eot?#iefix') format('eot'),
		url('~assets/fonts/example/font-400-italic.woff2') format('woff2'),
		url('~assets/fonts/example/font-400-italic.woff') format('woff'),
		url('~assets/fonts/example/font-400-italic.ttf') format('truetype');
}
*/
