// colors
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #666666;
$color-green: #41b883;

// borders
$border-radius-default: 2px;

// typo (specific typo combination like headings or bodycopy define in `typo.scss`)
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;
$font-family-bodycopy: helvetica, arial, sans-serif;
$font-family-heading: helvetica, arial, sans-serif;
$font-size-base: 16;

// vertical rhythm; use `spacer(lg);` custom scss function
$vertical-rhythm-base: 1rem; // expecting default browser font-size is 16px
$vertical-rhythm-spacers: (
	xxs: $vertical-rhythm-base * 0.25, // 4px
	xs: $vertical-rhythm-base * 0.5, // 8px
	sm: $vertical-rhythm-base * 1, // 16px
	md: $vertical-rhythm-base * 1.5, // 24px
	lg: $vertical-rhythm-base * 2, // 32px
	xl: $vertical-rhythm-base * 4, // 64px
	xxl: $vertical-rhythm-base * 6 // 96px
);

// dimensions
$width-row: rem(1200);
$height-header: rem(70);

// transitions
$transition-duration-default: 0.3s;
$transition-default: all $transition-duration-default ease-in-out;

// breakpoints
$breakpoints: (
	xxl: em(1920, $font-size-base),
	xl: em(1600, $font-size-base),
	lg: em(1280, $font-size-base),
	md: em(980, $font-size-base),
	sm: em(640, $font-size-base),
	xs: em(460, $font-size-base),
	xxs: em(0, $font-size-base)
);
$grid-column-count: 12;
$grid-column-gutter: (
	xxs: 20,
	md: 30
);

// z-indexes
$zindex-header: 1000;
